
header {
  margin: 0;
  font-family: "IBM Plex mono";
}

main {
  font-family: "Roboto";
}

.lead {
  line-height: 1rem;
}

@media (min-width: 1024px) {
  .lead {
    line-height: 2rem;
  }
}

@media (max-width: 768px) {
  .lead {
    line-height: 1.5rem;
  }
}

.bg-hero {
  background-image: url('../images/Group21.png');
}

.bg-hero-2 {
  background-image: url('../images/Group20.png');
}